<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="tk.jordynsmediagroup.simpleirc"
    android:installLocation="auto"
    android:versionCode="12"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Never remove this even if gradle tells you to do so. -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        tools:replace="icon,label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="tk.jordynsmediagroup.simpleirc.App"
        android:label="Simple IRC"
        android:theme="@style/AppTheme">
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.ServersActivity"
            android:label="Simple IRC"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.AddServerActivity"
            android:theme="@style/Theme.AppCompat.DialogWhenLarge"
            android:label="@string/add_server_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="irc" />
            </intent-filter>
        </activity>
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.ConversationActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges=""
            android:launchMode="singleTop"
            android:parentActivityName="tk.jordynsmediagroup.simpleirc.activity.ServersActivity" />
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:label="@string/about_label" />
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.SettingsActivity"
            android:parentActivityName="tk.jordynsmediagroup.simpleirc.activity.ServersActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/settings_label">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.jordynsmediagroup.simpleirc.activity.ServersActivity" />

        </activity>
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.JoinActivity"
            android:label="@string/join_label"
            android:theme="@style/AppDialogTheme"></activity>
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.activity.MessageActivity"
            android:theme="@style/AppDialogTheme" />

        <service android:name="tk.jordynsmediagroup.simpleirc.irc.IRCService" />

        <activity android:name="tk.jordynsmediagroup.simpleirc.activity.ForgetCertificatesActivity">
            <intent-filter>
                <action android:name="tk.jordynsmediagroup.simpleirc.activity.ForgetCertificatesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- Memorizing Trust manager -->
        <activity android:name="de.duenndns.ssl.MemorizingActivity"
            tools:replace="android:theme"
            android:theme="@style/Theme.AppCompat.DialogWhenLarge"
            />
        <activity
            android:name="tk.jordynsmediagroup.simpleirc.FirstRunActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/title_activity_first_run" />
    </application>

</manifest>
